@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Webkit tabanlı tarayıcılar için (Chrome, Safari, yeni Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox için */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE ve eski Edge */
}

.stable-scrollbar {
  scrollbar-gutter: stable;
  /* İsteğe bağlı: Kenar boşluğunu her iki tarafta da ayırmak için, 
     ancak dikey kaydırmada genellikle sadece 'stable' yeterlidir. */
  /* scrollbar-gutter: stable both-edges; */ 
}
